## Baseline (random behavior)

In [32]:
import pandas as pd
import random
from sklearn.model_selection import train_test_split
from itertools import product

In [3]:
train_purchases_df = pd.read_csv("../data/dressipi_recsys2022/train_purchases.csv", parse_dates=['date'])
train_sessions_df = pd.read_csv("../data/dressipi_recsys2022/train_sessions.csv" , parse_dates=['date'])
item_features_df = pd.read_csv("../data/dressipi_recsys2022/item_features.csv")
candidate_items_df = pd.read_csv("../data/dressipi_recsys2022/candidate_items.csv")

In [56]:


##  train_purchases_df is for training, but we can use 5% for testing our baseline
_, test_df = train_test_split(train_purchases_df, test_size=0.05)

## The task is to submit a csv that has 100 ranked predictions for each query session.
Header and columns as in the example below. Header is required. The order of rows does not matter for the evaluation system but we recommend to sort the file by session_id and rank for easier manual inspection. 
<pre>
session_id,item_id,rank
1,100,1
1,105,2
1,107,3
...
1,101,100
2,108,1
2,107,2
...
</pre>

In [57]:
len(test_df['session_id'].unique())

50000

In [58]:
# Generate the resulting dataframe in wanted format
# by iterating all sessions and for each session from 1 too 100

## itertools.product(X,Y,Z) is exploring all possible combinations from arrays X,Y,Z

result_df = pd.DataFrame(product(test_df['session_id'], range(0,1), range(1, 101)))
result_df.rename(columns = {0:'session_id', 1:'item_id', 2: 'rank'}, inplace = True)
item_ids = candidate_items_df['item_id']
result_df['item_id'] = result_df['item_id'].apply(lambda x: random.choice(item_ids))
result_df

         session_id  item_id  rank
0           3391192     5443     1
1           3391192    12958     2
2           3391192    10856     3
3           3391192     3107     4
4           3391192    26345     5
...             ...      ...   ...
4999995     3350572    27867    96
4999996     3350572    27465    97
4999997     3350572     8821    98
4999998     3350572     3819    99
4999999     3350572     2048   100

[5000000 rows x 3 columns]