## LightFM recommendation

In [1]:
import pandas as pd
import random
from sklearn.model_selection import train_test_split
from itertools import product
from tqdm import tqdm
tqdm.pandas()

In [2]:
train_purchases_df = pd.read_csv("../data/dressipi_recsys2022/train_purchases.csv", parse_dates=['date'])
train_sessions_df = pd.read_csv("../data/dressipi_recsys2022/train_sessions.csv" , parse_dates=['date'])
item_features_df = pd.read_csv("../data/dressipi_recsys2022/item_features.csv")
candidate_items_df = pd.read_csv("../data/dressipi_recsys2022/candidate_items.csv")

# Split the dataset

In [3]:
# Test set is
train_p_df, test_p_df = train_test_split(train_purchases_df, test_size=0.02)
#test_sessions_set = set(test_p_df['session_id'])

#train_s_df = train_sessions_df[~train_sessions_df['session_id'].isin(test_sessions_set)]
#test_s_df = train_sessions_df[train_sessions_df['session_id'].isin(test_sessions_set)]

#print(f"len(test_sessions_set)={len(test_sessions_set)}")
print(f"len(train_p_df)={len(train_p_df)} train purchases")
print(f"len(test_p_df)={len(test_p_df)}   test purchases")
#print(f"len(train_s_df)={len(train_s_df)} train sessions")
#print(f"len(test_s_df)={len(test_s_df)}   test sessions")

len(train_p_df)=980000 train purchases
len(test_p_df)=20000   test purchases

## The task is to submit a csv that has 100 ranked predictions for each query session.
Header and columns as in the example below. Header is required. The order of rows does not matter for the evaluation system but we recommend to sort the file by session_id and rank for easier manual inspection. 
<pre>
session_id,item_id,rank
1,100,1
1,105,2
1,107,3
...
1,101,100
2,108,1
2,107,2
...
</pre>

In [4]:
pip install lightfm

Requirement already satisfied: lightfm in /home/bobi/anaconda3/lib/python3.9/site-packages (1.16)
Requirement already satisfied: requests in /home/bobi/anaconda3/lib/python3.9/site-packages (from lightfm) (2.26.0)
Requirement already satisfied: numpy in /home/bobi/anaconda3/lib/python3.9/site-packages (from lightfm) (1.22.3)
Requirement already satisfied: scikit-learn in /home/bobi/anaconda3/lib/python3.9/site-packages (from lightfm) (0.24.2)
Requirement already satisfied: scipy>=0.17.0 in /home/bobi/anaconda3/lib/python3.9/site-packages (from lightfm) (1.8.0)
Requirement already satisfied: idna<4,>=2.5 in /home/bobi/anaconda3/lib/python3.9/site-packages (from requests->lightfm) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/bobi/anaconda3/lib/python3.9/site-packages (from requests->lightfm) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/bobi/anaconda3/lib/python3.9/site-packages (from requests->lightfm) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/bobi/anaconda3/lib/python3.9/site-packages (from requests->lightfm) (2021.10.8)
Requirement already satisfied: joblib>=0.11 in /home/bobi/anaconda3/lib/python3.9/site-packages (from scikit-learn->lightfm) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/bobi/anaconda3/lib/python3.9/site-packages (from scikit-learn->lightfm) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
# Test of method is commented
#calc_mrr(pd.DataFrame.from_dict({'session_id':[1,1,2,2,2,3,3,3], 'item_id':[1,2,3,4,5,6,7,8]}),\
#                     pd.DataFrame.from_dict({'session_id':[1,2,3], 'item_id':[2,5,8]}))
#(1/2 + 1/3 + 1/100)/3

In [6]:

from lightfm.data import Dataset
import numpy as np
from lightfm import LightFM
from lightfm.evaluation import precision_at_k
from lightfm.evaluation import auc_score

## Start building the feature for light FM
User features are of the form tuple iterable tuple (session_id, [month, hour])

In [7]:
train_sessions_df['month']='m' + train_sessions_df['date'].dt.month.apply(str)
train_sessions_df['hour']='h' + train_sessions_df['date'].dt.hour.apply(str)

# Aggregate by sessionId and add hour and month as list of features
user_features = train_sessions_df.groupby('session_id').agg(
    session_id=pd.NamedAgg(column="session_id", aggfunc="min"),
    month=pd.NamedAgg(column="month", aggfunc=set),
    hour=pd.NamedAgg(column="hour", aggfunc=set),
).reset_index(drop=True).apply( \
        lambda row: (row['session_id'], []), axis = 1)
        #lambda row: (row['session_id'], list(row['month']) + (list(row['hour']))), axis = 1)

user_features.head(2)

0     (3, [])
1    (13, [])
dtype: object

Item features are tuples of this form: iterable tuple (item_id, [category1-value1, category2-value2])

In [8]:


item_features_df['cat_val'] = item_features_df['feature_category_id'].apply(str)+ '-' + item_features_df['feature_value_id'].apply(str)
#item_features_df['cat_val'] = item_features_df['feature_category_id'].apply(str)

#top_most_valuable_item_features = item_features_df['cat_val'].value_counts();
#top_most_valuable_item_features = top_most_valuable_item_features[\
#            (top_most_valuable_item_features>5000)&(top_most_valuable_item_features<10000)]
#
#top_most_valuable_item_features = set(top_most_valuable_item_features.index)
#def most_valuable(features):
#    return list((top_most_valuable_item_features) & set(features))

# Aggregate by item_id and add category and value as list of features
item_features = item_features_df.groupby('item_id').agg(
    item_id=pd.NamedAgg(column="item_id", aggfunc="min"),
    cat_val=pd.NamedAgg(column="cat_val", aggfunc=list),
).reset_index(drop=True).progress_apply( \
#    lambda row: (row['item_id'], most_valuable(row['cat_val'])), axis = 1) 
    lambda row: (row['item_id'], []), axis = 1) 


item_features.head(15)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████| 23691/23691 [00:00<00:00, 109504.17it/s]

0      (2, [])
1      (3, [])
2      (4, [])
3      (7, [])
4      (8, [])
5      (9, [])
6     (10, [])
7     (11, [])
8     (13, [])
9     (14, [])
10    (16, [])
11    (17, [])
12    (18, [])
13    (19, [])
14    (20, [])
dtype: object

Building the interactions of the form: iterable tuple (session_id, item_id, weight)

In [9]:
train_sessions_df['view_ord'] = train_sessions_df.sort_values(['date']) \
         .groupby(['session_id']).cumcount()+1

In [10]:
train_sessions_df['views'] = train_sessions_df.groupby('session_id')['view_ord'].transform('max')

In [11]:
train_sessions_df[train_sessions_df['session_id']==2262577]

,session_id,item_id,date,month,hour,view_ord,views
2423024,2262577,11998,2021-05-10 13:32:48.673,m5,h13,4,7
2423025,2262577,23182,2021-05-10 13:16:36.676,m5,h13,1,7
2423026,2262577,3567,2021-05-10 13:17:18.394,m5,h13,2,7
2423027,2262577,3567,2021-05-10 13:22:39.451,m5,h13,3,7
2423028,2262577,3567,2021-05-10 13:53:02.229,m5,h13,7,7
2423029,2262577,3710,2021-05-10 13:43:40.853,m5,h13,5,7
2423030,2262577,23646,2021-05-10 13:45:58.403,m5,h13,6,7

In [12]:

train_sessions_df['weight'] = train_sessions_df.progress_apply(lambda x: x['view_ord']/(x['views']+4), axis=1)

100%|██████████████████████████████████████████████████████████████████████████████████████████████| 4743820/4743820 [00:59<00:00, 80035.00it/s]

In [13]:
train_sessions_df[train_sessions_df['session_id']==2262577]

,session_id,item_id,date,month,hour,view_ord,views,weight
2423024,2262577,11998,2021-05-10 13:32:48.673,m5,h13,4,7,0.363636
2423025,2262577,23182,2021-05-10 13:16:36.676,m5,h13,1,7,0.090909
2423026,2262577,3567,2021-05-10 13:17:18.394,m5,h13,2,7,0.181818
2423027,2262577,3567,2021-05-10 13:22:39.451,m5,h13,3,7,0.272727
2423028,2262577,3567,2021-05-10 13:53:02.229,m5,h13,7,7,0.636364
2423029,2262577,3710,2021-05-10 13:43:40.853,m5,h13,5,7,0.454545
2423030,2262577,23646,2021-05-10 13:45:58.403,m5,h13,6,7,0.545455

In [14]:
# Give tanh((cumcount()+1)/5)) for just view in the session
# First view has less weight, second has more, and so on
# and 1.0 for a purchase
train_interactions1 = train_sessions_df.progress_apply(
    lambda row: (row['session_id'], row['item_id'], row['weight']), axis = 1)  
train_interactions2 = train_p_df.progress_apply(
    lambda row: (row['session_id'], row['item_id'], 1), axis = 1) 

train_interactions = pd.concat([train_interactions1, train_interactions2])

100%|██████████████████████████████████████████████████████████████████████████████████████████████| 4743820/4743820 [01:11<00:00, 66059.21it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████| 980000/980000 [00:11<00:00, 83291.55it/s]

In [15]:
#train_interactions.reset_index(inplace=True)
#print(f"train_interactions.info() : {train_interactions.info()}")
train_interactions.head(2)

0     (3, 9655, 0.3333333333333333)
1    (3, 9655, 0.16666666666666666)
dtype: object

## Build Light FM Dataset

In [16]:
from collections import Counter
item_features_counter = Counter()
item_features.map(lambda x: item_features_counter.update(x[1]))
item_features_vals = list(item_features_counter.keys())

user_features_counter = Counter()
user_features.map(lambda x: user_features_counter.update(x[1]))
user_features_vals = list(user_features_counter.keys())

print(f"User feature values: {user_features_vals[:30]}...")
print(f"Item feature values: {item_features_vals[:30]}...")

User feature values: []...
Item feature values: []...

In [17]:
import lightfm
from lightfm import cross_validation


ds = Dataset()
ds.fit( \
       train_sessions_df['session_id'].unique(), \
       item_features_df['item_id'].unique(), \
       item_features=item_features_vals, \
       user_features=user_features_vals)
item_features_ds                  = ds.build_item_features(item_features)
train_interactions_ds, weights_ds = ds.build_interactions(train_interactions)
user_features_ds                  = ds.build_user_features(user_features)

(trn_interactions_ds, tst_interactions_ds) = \
    lightfm.cross_validation.random_train_test_split(train_interactions_ds, test_percentage=0.2, random_state=None)

## Train the model

In [18]:
model = LightFM(
    no_components=60,
    learning_rate=0.02,
    loss='warp',
    random_state=42)

model.fit(
    trn_interactions_ds,
    item_features=item_features_ds,
    user_features=user_features_ds, 
    epochs=25, num_threads=8, verbose=True)

(user_map, feature_map, item_map, item_feature_map) = ds.mapping()

Epoch: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████| 25/25 [01:29<00:00,  3.59s/it]

In [19]:
def predict_ratings(model, sessions_or_purchase_df, items_to_predict) :
    session_ids = pd.Series(sessions_or_purchase_df['session_id'].unique())
    all_users = session_ids \
        .apply(lambda x: user_map[x]).to_numpy()
    all_available_items = items_to_predict.apply(lambda x: item_map[x]).to_numpy()
    users =[]
    items =[]
    for user_item_tuple in tqdm(product(all_users, all_available_items)):
        users.append(user_item_tuple[0])
        items.append(user_item_tuple[1])
    preds = model.predict(np.array(users), np.array(items))
    
    session_ids_expanded = []
    item_ids_expanded = []
    for tup in tqdm(product(session_ids, items_to_predict)):
        session_ids_expanded.append(tup[0])
        item_ids_expanded.append(tup[1])
    
    
    df_score = pd.DataFrame({'session_id': np.array(session_ids_expanded), \
                      'item_id':np.array(item_ids_expanded) , \
                      'score':np.array(preds)})
    return df_score

In [20]:
# Determine which items to predict
# For the submission we load from "candidate_items.csv" but for
# initial testing we must take them from train_sessions.

#items_to_predict_array = train_sessions_df['item_id'].unique()

# Recommend from most sold items
items_to_predict_array = \
     list(train_sessions_df['item_id'].value_counts()[0:2500].keys())

print('Items to predict: ', len(items_to_predict_array))

Items to predict:  2500

In [21]:
t = predict_ratings(model, test_p_df[0:20000], \
                    pd.Series(items_to_predict_array))
t1 = t.sort_values(['score'],ascending=False)

50000000it [00:13, 3744731.73it/s]
50000000it [00:11, 4269253.39it/s]

In [22]:
# DataFrameGroupBy: The function passed to apply must take a dataframe 
# as its first argument and return a DataFrame
# From the other side "cumcount()" is used to count in the group
t1['rank'] = t1.groupby('session_id').cumcount()+1


result_df = t1[t1['rank']<=100]#.drop('score', axis=1)
result_df.reset_index(inplace=True)
result_df.drop(['index'], inplace=True, axis=1)

result_df = result_df.sort_values( \
        by=['session_id', 'rank'],ascending=True)
#result_df.reset_index(inplace=True)
#result_df.to_csv("result_df.csv")
result_df

/home/bobi/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

        session_id  item_id     score  rank
388060         418    11196  2.518676     1
490635         418     2447  2.408673     2
565736         418     2072  2.338008     3
616861         418    22637  2.292501     4
807917         418    22555  2.139098     5
...            ...      ...       ...   ...
949915     4439884     8843  2.032273    96
950755     4439884     8613  2.031677    97
956248     4439884    25907  2.027604    98
968753     4439884    20413  2.018297    99
979009     4439884    12540  2.010708   100

[2000000 rows x 4 columns]

In [23]:
from tqdm import tqdm

# Calculate Mrr (Mean reciprocal rank)
def calc_mrr(result_df, test_df):
    mrr = 0
    # Iterate all sessions
    for sess_id in tqdm(test_df['session_id']):
        # Make view for only this session with all ranked
        ranked = result_df[result_df['session_id']==sess_id]['item_id'].reset_index(drop=True)
        real_item_id = test_df[test_df['session_id']==sess_id]['item_id'].reset_index(drop=True)[0] 
        first_rank = 100
        found_t = ranked[ranked == real_item_id]
        if len(found_t)!=0 :
            first_rank = found_t.index[0]+1
        #    print(f'sess_id={sess_id},real_item_id={real_item_id},first_rank={first_rank}')
        #else:
        #    print(f'sess_id={sess_id},real_item_id={real_item_id}, not found')
            
        mrr =mrr+ 1/first_rank
        
    mrr = mrr / test_df['session_id'].nunique()
    return mrr

In [24]:
26853 in items_to_predict_array

True

In [25]:
#test_p_df[test_p_df['session_id'].isin({2692943,1211445})]

calc_mrr(result_df, test_p_df)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████| 20000/20000 [01:21<00:00, 245.97it/s]

0.08022503914309219